<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-resource.min.js"></script>
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <link rel="stylesheet" href="main.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <script src="scripts.js">
    </script>
    <!-- <link rel="stylesheet" href="main.css" charset="utf-8"> -->
    <meta charset="utf-8">
</head>

<body ng-app="myApp" ng-controller="todoCtr" ng-click="saveTodoList();" onselectstart="return false">
<div class="container">

    <form ng-submit="todoAdd()">

        <md-input-container id="selectLang">
            <label>Language</label>
            <md-select ng-model="lang">
                <md-option ng-repeat="lang in langs" value="{{lang}}">{{lang}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <input type="text" ng-model="todoInput" size="50" placeholder="{{translation.ADD}}" autofocus
                   id="mainInput" autocomplete="off">
        </md-input-container>
        <md-button type="submit" id="btnForSend" type="submit"
                   name="action">
            {{translation.SUBMIT}}
            <md-icon><i class="material-icons ">send</i></md-icon>
        </md-button>
        <br>
        <a href="" ng-click='allCheck()'><i id="checkAll" class="small material-icons mainColor"
        >mode_edit</i></a>
    </form>


    <br>

    <div ng-repeat="x in todoList | filter:listItem() track by $index ">
        <md-checkbox ng-model="x.done" id="inp{{ $index+1 }}" class="colorCheckbox">{{ x.todoText }}</md-checkbox>
            <span class="btnRemove" ng-click="deleted($index)">
              <a href="#" class="iconRemoveItem">x</a>
          </span>
    </div>

    <div class="footer">
        <ul>
            <li><span class="lengthItem">{{todoList.length}}</span> {{translation.ITEMS}}</li>
            <li ng-class="{colorTab: filter == 'All'}"><a href="" ng-click="filter='All'">{{translation.ALL}}</a>
            </li>
            <li ng-class="{colorTab: filter == 'Completed'}"><a href="" ng-click="filter='Completed'">{{translation.COMPLETED}}</a>
            </li>
            <li ng-class="{colorTab: filter == 'Active'}"><a href=""
                                                             ng-click="filter='Active'">{{translation.ACTIVE}}</a>
            </li>
            <li onselectstart="return false;"><a href="" ng-click="removeAll()">{{translation.CLEAR}}</a>
            </li>

        </ul>
    </div>

</div>
</body>
</html>
