
#btnForSend {
    position: relative;
    margin-left: 40%;
    width: auto;
    background-color: #ff4081;
    color: #f3f3f3;
}

#btnForSend i {
    color: #f3f3f3;
}

#checkAll {
    color: #ff4081;
    -webkit-user-select: none;
}

.footer {

    margin-top: 3%;
    padding-bottom: 10%;
}

.footer ul {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: justify;

}

.footer li {
    font-size: 1em;
    margin-left: 7%;
    float: left;
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 6px;

}

.bgColor {
    background-color: #f3f3f3;
}

html, body {
    background-color: #278a72;
}

.colorTab {
    color: #ffffff !important;
    background-color: #ff4081;
}

#selectLang {
    position: absolute;
    right: 0;
}

.footer a {
    color: inherit;
}

.footer li > a:last-child {
    user-select: none;
}

.container {
    position: relative;
    clear: both;
    width: 70%;
    background-color: #e7ffef;
    margin: 0 auto;
    padding: 10%;
    padding-bottom: 5%;
}

#mainInput {
    width: 70%;
    margin-left: 10%;
}

#selectLang {
    position: absolute;
    z-index: 10;
    top: 0;

}

a {
    text-decoration: none;
}

a:hover {
    color: inherit !important;
}

.iconRemoveItem {
    position: absolute;
    right: 10%;
    font-size: 20px;
}